header {
  background-color: #fbfdff;
  padding: 10px 0;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
/* Logo */
.logo img {
  height: 50px;   /* Control height strictly */
  width: auto;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: red;
  font-size: 16px;
}